APScheduler
Brotli
bson
click
current
Flask
Flask-Compress
Flask-Login
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
psutil
pymongo
python-dateutil
pytz
pytz-deprecation-shim
simplejson
six
tzdata
tzlocal
Werkzeug
xlrd==1.2.0
urllib3
