# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# IDE files
.idea/
.settings/
Debug/
.project/
.cproject/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Jupyter
.ipynb_checkpoints/

# Arduino libraries
Arduino/libraries/

# Python virtul environment
venv/

# Python cache
__pycache__/

# MMS virtual manufacture device
vmd-filestore/

# sqlite db file
*.db
