JIRA_DOMAIN = {'RD2': ['innodiv-hwacom.atlassian.net','innodiv-hwacom.atlassian.net'],
               'RD5': ['srddiv5-hwacom.atlassian.net']}
API_PREFIX  = 'rest/agile/1.0'
# project_id : column_name
STORY_POINT_COL_NAME = {'10005': 'customfield_10027',
                        '10006': 'customfield_10027',
                        '10004': 'customfield_10026'
}

