# For RD2
#JIRA_DOMAIN = ['innodiv-hwacom.atlassian.net', 'srddiv-aiot-energy-hwacom.atlassian.net']
# For RD5
JIRA_DOMAIN = ['srddiv5-hwacom.atlassian.net']
API_PREFIX  = 'rest/agile/1.0'
# base64 string of username:password
JIRA_CREDENTIAL_BASE64 = ''
STORY_POINT_COL_NAME = ['customfield_10027','customfield_10026']
