<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>EMS</title>

    <link
      href="/static/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/popper.min.js"></script>
    <script
      type="text/javascript"
      src="/static/jquery-ui/jquery-ui.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/bootstrap/js/bootstrap.min.js"
    ></script>

    <script type="text/javascript" src="/static/plotly.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/SLD.js"></script>
    <script type="text/javascript" src="/static/svg-pan-zoom.js"></script>
    <script type="text/javascript" src="/static/hammer.js"></script>
    <link href="/static/jquery-ui/jquery-ui.css" rel="stylesheet" />

    <link href="/static/fontawesome/css/all.css" rel="stylesheet" />
    <link
      href="/static/datatable/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/datatable/fixedHeader.dataTables.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/datatable/responsive.dataTables.min.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="/static/datatable/datatables.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/datatable/dataTables.fixedHeader.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/static/datatable/dataTables.responsive.min.js"
    ></script>

    <style>
      #myTable > tbody > tr:hover {
        background-color: rgb(219, 219, 219) !important;
      }
      #myTable > tbody tr td:nth-child(5) {
        text-align: left !important;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <script type="text/javascript">
      $(function () {
        let search = 0;
        let datepicker1 = "";
        let datepicker2 = "";
        let reportType = "all"
        //---------------------------------------------------
        let lang = {
          sProcessing: "處理中...",
          sLengthMenu: "每頁 _MENU_ 項",
          sZeroRecords: "沒有匹配結果",
          sInfo: "當前顯示第 _START_ 至 _END_ 項，共 _TOTAL_ 項。",
          sInfoEmpty: "當前顯示第 0 至 0 項，共 0 項",
          sInfoFiltered: "(由 _MAX_ 項結果過濾)",
          sInfoPostFix: "",
          sSearch: "搜尋:",
          sUrl: "",
          sEmptyTable: "查無資料",
          sLoadingRecords: "載入中...",
          sInfoThousands: ",",
          oPaginate: {
            sFirst: "首頁",
            sPrevious: "上頁",
            sNext: "下頁",
            sLast: "末頁",
            sJump: "跳轉",
          },
          oAria: {
            sSortAscending: ": 以升序排列此列",
            sSortDescending: ": 以降序排列此列",
          },
        };
        let table = null;
        function init() {
          //初始化表格
          table = $("#myTable")
            .dataTable({
              destroy: true,
              language: lang, //提示資訊
              autoWidth: false, //禁用自動調整列寬
              // stripeClasses: [], //為奇偶行加上樣式，相容不支援CSS偽類的場合
              processing: false, //隱藏載入提示,自行處理
              serverSide: true, //啟用伺服器端分頁
              searching: false, //禁用原生搜尋
              orderMulti: false, //啟用多列排序
              ordering: false, //取消預設排序查詢,否則核取方塊一列會出現小箭頭
              renderer: "bootstrap", //渲染樣式：Bootstrap和jquery-ui
              pagingType: "simple_numbers", //分頁樣式：simple,simple_numbers,full,full_numbers
              // scrollY: "65vh",
              // scrollX: true,
              responsive: true,
              dom:
                "<'row'<'col-12'tr>>" +
                "<'row'<'col-12 col-lg-7'i><'col-12 col-lg-5'p><'col-12'l>>",
              ajax: function (data, callback, settings) {
                //封裝請求引數
                console.log(data);
                let param = {};
                param.limit = data.length; //頁面顯示記錄條數，在頁面顯示每頁顯示多少項的時候
                param.start = data.start; //開始的記錄序號
                param.page = data.start / data.length; //當前頁碼
                param.datepicker1 = $("#datepicker1").val();
                param.datepicker2 = $("#datepicker2").val();
                param.search = search;
                param.reportType =reportType //$("#reportType").val();
                //console.log(param);
                //ajax請求資料
                $.ajax({
                  type: "GET",
                  url: "/report_get",
                  cache: false, //禁用快取
                  data: param, //傳入組裝的引數
                  dataType: "json",
                  success: function (result) {
                    //console.log(result);
                    //封裝返回資料
                    let returnData = {};
                    returnData.draw = data.draw; //這裡直接自行返回了draw計數器,應該由後臺返回
                    returnData.recordsTotal = result.total; //返回資料全部記錄
                    returnData.recordsFiltered = result.total; //後臺不實現過濾功能，每次查詢均視作全部結果
                    returnData.data = result.data; //返回的資料列表

                    //console.log(returnData);
                    //呼叫DataTables提供的callback方法，代表資料已封裝完成並傳回DataTables進行渲染
                    //此時的資料需確保正確無誤，異常判斷應在執行此回撥前自行處理完畢
                    callback(returnData);
                  },
                });
              },
              //列表表頭欄位
              columns: [
                { data: "index", title: "項次" },
                { data: "type", title: "項目",
                "mRender": function(data, type, full) {
                      text={"month":"月報","quarter":"季報","year":"年報"}
                      return text[data]
                    } },
                { data: "FileName", title: "名稱" },
                { data:"FileName" ,title: "下載",
                "mRender": function(data, type, full) {
                      return '<a class="btn btn-info btn-sm"  target="_blank" download="download"  href=/downloadReport?FileName=' +data+ '>' + '下載' + '</a>';
                    }
                  }
 
              ],
            })
            .api();
          new $.fn.dataTable.FixedHeader(table);
          //此處需呼叫api()方法,否則返回的是JQuery物件而不是DataTables的API物件
        }
        init();
        //---------------------------------------------------
        function tableReset(){
            // $("#myTable").dataTable().clear().draw();
          $("#myTable").dataTable().fnClearTable(false);
          $("#myTable").dataTable().fnDestroy();
          $("#myTable tbody").empty();
        }
        function reset() {
          $("#reportAllBtn").removeClass("btn-primary btn-secondary");
          
          $("#reportmonthBtn").removeClass("btn-primary btn-secondary");
          $("#reportQuarterBtn").removeClass("btn-primary btn-secondary");
          $("#reportYearBtn").removeClass("btn-primary btn-secondary");


          $(".datepickerBox").addClass("d-none").removeClass("d-flex");
          tableReset()
        }
        //---------------------------------------------------
        $("#reportAllBtn").on("click", function () {
          reset();
          reportType = "all";
          $("#reportAllBtn").addClass("btn-primary");
          $("#reportmonthBtn").addClass("btn-secondary");
          $("#reportQuarterBtn").addClass("btn-secondary");
          $("#reportYearBtn").addClass("btn-secondary");

          
          init();
        });
        $("#reportmonthBtn").on("click", function () {
          reset();
          reportType = 'month';
          $("#reportAllBtn").addClass("btn-secondary");
          $("#reportmonthBtn").addClass("btn-primary");
          $("#reportQuarterBtn").addClass("btn-secondary");
          $("#reportYearBtn").addClass("btn-secondary");
          init();
        });
        $("#reportQuarterBtn").on("click", function () {
          reset();
          reportType = 'quarter';
          $("#reportAllBtn").addClass("btn-secondary");
          $("#reportmonthBtn").addClass("btn-secondary");
          $("#reportQuarterBtn").addClass("btn-primary");
          $("#reportYearBtn").addClass("btn-secondary");
          init();
        });
        $("#reportYearBtn").on("click", function () {
          reset();
          reportType = 'year';
          $("#reportAllBtn").addClass("btn-secondary");
          $("#reportmonthBtn").addClass("btn-secondary");
          $("#reportQuarterBtn").addClass("btn-secondary");
          $("#reportYearBtn").addClass("btn-primary");
          init();
        });
        // $("#reportType").on("change", function () {
        //     tableReset()
        //     init()
        // })
        //---------------------------------------------------
        setInterval(function () {
          table.ajax.reload(null, false);
        }, 1000);
        //---------------------------------------------------
        c_chooseday("datepicker1");
        c_chooseday("datepicker2");
        $(".calendar").on("click", calendarsetdate);
        $(".calendarleft").on("click", calendardateleft);
        $(".calendarright").on("click", calendardateright);
        $(".calendarleft2").on("click", calendardateleft2);
        $(".calendarright2").on("click", calendardateright2);
        //---------------------------------------------------
        protection_get()
        alarm_get_show1_level1_checktimeNull()
        alarm_get_show1_level2_checktimeNull()
        setInterval(() => {
          protection_get()
          alarm_get_show1_level1_checktimeNull()
          alarm_get_show1_level2_checktimeNull()
        }, 2000);
        //---------------------------------------------------
      });
    </script>
    {% extends 'navbar.html' %} {% block content %}
    <div class="container-fluid p-0">
      <div
        class="row mt-2 mx-3"
        style="border: 3px double black; background-color: rgb(241, 239, 239)"
      >
        <div class="col-12 px-3 mt-2 mb-1 noWhite d-flex">
          <div>
            <button type="button" id="reportAllBtn" class="btn btn-primary">
              總覽
            </button>
            <button type="button" id="reportmonthBtn" class="btn btn-secondary">
              月報  
            </button>
            <button type="button" id="reportQuarterBtn" class="btn btn-secondary">
              季報
            </button>

            <button type="button" id="reportYearBtn" class="btn btn-secondary">
              年報
            </button>

            <!-- <button type="button" id="reportTodayBtn" class="btn btn-secondary">
              今日
            </button>
            <button type="button" id="reportSearchBtn" class="btn btn-secondary">
              區間查詢
            </button> -->
          </div>
          <div class="ml-auto">
            <!-- <div class="d-flex mt-1">
              <h5 class="m-0 mr-2">類別:</h5>
              <select id="reportType">
                <option value="all">全選</option>
                <option value="month">月報</option>
                <option value="quarter">季報</option>
                <option value="year">年報</option>

              </select>
            </div> -->
          </div>
        </div>
   
      </div>
      <div
        class="row mx-3"
        style="border: 3px double black; background-color: rgb(241, 239, 239)"
      >
        <div class="col-12 py-1 px-3">
          <table
            id="myTable"
            class="table table01 table-striped table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>項次</th>
                <th>項目</th>
                <th>名稱 </th>
                <th>下載 </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
