<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <script src='Chart.min.js'></script>
        <!--<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>-->

        <style>
          canvas {
            background-color: white;
            width: 100%;
            height: auto;
          }
        </style>
        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js(s) }}
        {% endblock %}
    </body>
</html>
