{% extends "base.html" %}
{% block title %}衝刺過程統計{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="row" style="margin-top:20px;">
    <!-- 每日回報工時 -->
    <div class="col-sm">
      <canvas id="hoursDailyBarChart"></canvas>
      <!-- <img src="images/barChart.png" class="img-fluid" alt="Responsive image"> -->
    </div>
    <!-- 工時累計 -->
    <div class="col-sm">
      <canvas id="hoursTotalLineChart"></canvas>
      <!-- <img src="images/burnDown.png" class="img-fluid" alt="Responsive image"> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-top:20px;">
    <!-- Performance氣泡圖 -->
    <div class="col-sm-12 col-md-6">
      <canvas id="issuePerformanceBubbleChart"></canvas>
      <!-- <img src="images/bubbleChart.png" class="img-fluid" alt="Responsive image"> -->
    </div>
    <!-- 個人與團隊工時佔比 -->
    <div class="col-sm-6 col-md-3">
      <canvas id="hoursPieChart1"></canvas>
      <!--<img src="images/DualPiesLegend.png" class="img-fluid" alt="Responsive image">-->
    </div>
    <div class="col-sm-6 col-md-3">
      <canvas id="hoursPieChart2"></canvas>
    </div>
  </div>
</div>

<!-- 個人工作統計 -->
<div class="container" style="margin-top:20px;">
  <table class="table table-striped">
  <caption style="border: inherit; background-color: lightgrey; caption-side: top;">
    <strong style="margin-left: 20px;">個人工作統計</strong>
  </caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">負責人</th>
      <th scope="col">故事點數</th>
      <th scope="col">Task數量</th>
      <th scope="col">Bug數量</th>
      <th scope="col">投入時數</th>
      <th scope="col">速度</th>
    </tr>
  </thead>
  <tbody>
    {% for work in works %}
    <tr>
      <th scope="row">{{ work['owner'] }}</th>
      <td>{{ work['p_points'] }} / {{ work['a_points'] }}</td>
      <td>{{ work['p_tasks'] }} / {{ work['a_tasks'] }}</td>
      <td>{{ work['p_bugs'] }} / {{ work['a_bugs'] }}</td>
      <td class="text-right">{{ work['hours'] }}</td>
      <td class="text-right">{{ work['speed'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<!-- Done Issue 列表 -->
<div class="container" style="margin-top:20px;">
  <table class="table table-striped">
  <caption style="border: inherit; background-color: lightgrey; caption-side: top;">
    <strong style="margin-left: 20px;">Done Issues</strong>
  </caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">類型</th>
      <th scope="col">投入工時</th>
      <th scope="col">故事點數</th>
      <th scope="col">負責人</th>
      <th scope="col" width="35%">故事內容</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    {% if issue.status == 'Done' and issue.resolution_at <= sprint.end %}
    <tr>
      <th scope="row">{{ issue.id }}</th>
      <td>{{ issue.type }}</td>
      <td class="text-right">{{ issue.time_spent }}</td>
      <td class="text-right">{{ issue.points }}</td>
      <td>{{ issue.owner }}</td>
      <td>{{ issue.summary }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>

<!-- Not Done Issue 列表 -->
<div class="container" style="margin-top:20px;">
  <table class="table table-striped">
  <caption style="border: inherit; background-color: lightgrey; caption-side: top;">
    <strong style="margin-left: 20px;">Issues Not Done</strong>
  </caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">類型</th>
      <th scope="col">投入工時</th>
      <th scope="col">故事點數</th>
      <th scope="col">負責人</th>
      <th scope="col" width="35%">故事內容</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    {% if issue.status != 'Done' or issue.resolution_at > sprint.end %}
    <tr>
      <th scope="row">{{ issue.id }}</th>
      <td>{{ issue.type }}</td>
      <td class="text-right">{{ issue.time_spent }}</td>
      <td class="text-right">{{ issue.points }}</td>
      <td>{{ issue.owner }}</td>
      <td>{{ issue.summary }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>

<script>
    function makeChartData(labels, data, legend) {
      // define the chart data
      var chartData = {
        labels : labels,
        datasets : [{
            label: legend,
            fill: true,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : data,
            spanGaps: false
        }]
      }

      return chartData;
    }

    function makePieChartData(labels, data, legend) {
      const backgroundColors = ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)',
        'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'
      ];

      return {
        labels: labels,
        datasets: [{
        label: legend,
        data: data,
        backgroundColor: backgroundColors,
        hoverOffset: 4
        }]
      };
    }

      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;

      // get chart canvas
      var holder1 = document.getElementById("hoursDailyBarChart");
      var ctx1 = document.getElementById("hoursDailyBarChart").getContext("2d");
      var ctx2 = document.getElementById("hoursTotalLineChart").getContext("2d");
      var ctx3 = document.getElementById("issuePerformanceBubbleChart").getContext("2d");
      var ctx4 = document.getElementById("hoursPieChart1").getContext("2d");
      var ctx5 = document.getElementById("hoursPieChart2").getContext("2d");

      var hours_by_day_labels = [{% for ts in hours_by_day %}
        '{{ ts[0] }}',
        {% endfor %}];

      var hours_by_day_values = [{% for ts in hours_by_day %}
        {{ ts[1] }},
        {% endfor %}];

      var hours_total_values = [{% for ts in hours_total %}
        {{ ts[1] }},
        {% endfor %}];

      var issue_performance_values = [{% for p in issue_performances %}
          { x : {{ p['estimate'] }} , y : {{ p['actual'] }} , r : {{ p['points'] }} },
        {% endfor %}
      ];

      var hoursDailyBarChart = new Chart(ctx1, {
        type: 'bar',
        data: makeChartData(hours_by_day_labels, hours_by_day_values, '每日回報工時'),
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                       return tooltipItems.yLabel + ' hours';
                     }
            }
          },
        }
      });

      var hoursTotalLineChart = new Chart(ctx2, {
        type: 'line',
        data: makeChartData(hours_by_day_labels, hours_total_values, '每日累積工時'),
        options: {
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItems, data) {
                       return tooltipItems.yLabel + ' hours';
                     }
            }
          },
        }
      });

      var issuePerformanceBubbleChart = new Chart(ctx3, {
        type: 'bubble',
        data: makeChartData([], issue_performance_values, '故事時數分佈')
      });

      const pie_chart_labels = [{% for h in hours_record %}
        '{{ h['owner'] }}',
      {% endfor %}
      ];

      const pie_chart_plan_data = [{% for h in hours_record %}
        {{ h['plan'] }},
      {% endfor %}
      ];

      const pie_chart_actual_data = [{% for h in hours_record %}
        {{ h['actual'] }},
      {% endfor %}
      ];

      var hoursPieChart1 = new Chart(ctx4, {
        type: 'pie',
        data: makePieChartData(pie_chart_labels, pie_chart_plan_data),
        options: {
          title: {
              display: true,
              text: '預估工時佔比'
          }
        }
      });

      var hoursPieChart2 = new Chart(ctx5, {
        type: 'pie',
        data: makePieChartData(pie_chart_labels, pie_chart_actual_data),
        options: {
          title: {
              display: true,
              text: '實際工時佔比'
          }
        }
      });

      // get the text element below the chart
      var pointSelected = document.getElementById("pointSelected");

      // create a callback function for updating the selected index on the chart
      holder1.onclick = function(evt){
        var activePoint = hoursDailyBarChart.getElementAtEvent(evt);
        console.log(activePoint);
        console.log('x:' + activePoint[0]._view.x);
        console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
        console.log('y: ' + activePoint[0]._view.y);
        console.log('index: ' + activePoint[0]._index);
        pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
      };
    </script>

{% endblock %}
