[Unit]
Description=chatbotadmin
After=syslog.target

[Service]
User=ctu
ExecStart=/home/ctu/chatbotadmin/dev/chatbotadmin-0.1.0-SNAPSHOT.war
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
